.global {
    display: inline-flex;
    margin:30px 10px 0px;
    label{
        margin: 0px 10px;
    }
}
.blocdetails{
    display: flex;
    margin:30px 20px;
    .image{
        width: 100px;
        height: auto;
    }
    .blcInfo{
        margin: 0 10px;
        .info{
            display: flex;
        }
    }
  
  
}